{% extends 'base.html' %}
{% block title %}公开课列表 - MyMOOC在线网{% endblock %}
{% load staticfiles %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="/">首页</a>></li>
                <li>公开课</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section>
	<div class="wp">
		<div class="list" style="margin-top:0;">
            <div class="listoptions">
			<ul>
				<li>
					<h2>课程类别</h2>
					<div class="cont">
                        <a href="?ct="><span class="{% ifequal category '' %}active2{% endifequal %}">全部</span></a>
                        <a href="?ct=jsj"><span class="{% ifequal category 'jsj' %}active2{% endifequal %}">计算机</span></a>
                        <a href="?ct=jjx"><span class="{% ifequal category 'jjx' %}active2{% endifequal %}">经济学</span></a>
                        <a href="?ct=gl"><span class="{% ifequal category 'gl' %}active2{% endifequal %}">管理</span></a>
                        <a href="?ct=ky"><span class="{% ifequal category 'ky' %}active2{% endifequal %}">考研</span></a>
                        <a href="?ct=lgbx"><span class="{% ifequal category 'lgbx' %}active2{% endifequal %}">理工补习</span></a>
                        <a href="?ct=slj"><span class="{% ifequal category 'slj' %}active2{% endifequal %}">四六级</span></a>
                        <a href="?ct=xlx"><span class="{% ifequal category 'xlx' %}active2{% endifequal %}">心理学</span></a>
                        <a href="?ct=wy"><span class="{% ifequal category 'wy' %}active2{% endifequal %}">外语</span></a>
                        <a href="?ct=wxwh"><span class="{% ifequal category 'wxwh' %}active2{% endifequal %}">文学文化</span></a>
                        <a href="?ct=yssj"><span class="{% ifequal category 'yssj' %}active2{% endifequal %}">艺术设计</span></a>
                        <a href="?ct=ls"><span class="{% ifequal category 'ls' %}active2{% endifequal %}">历史</span></a>
                        <a href="?ct=zx"><span class="{% ifequal category 'zx' %}active2{% endifequal %}">哲学</span></a>
                        <a href="?ct=fx"><span class="{% ifequal category 'fx' %}active2{% endifequal %}">法学</span></a>
                        <a href="?ct=gx"><span class="{% ifequal category 'gx' %}active2{% endifequal %}">工学</span></a>
                        <a href="?ct=lx"><span class="{% ifequal category 'lx' %}active2{% endifequal %}">理学</span></a>
					</div>
                    <div class="cont">
                        <a href="?ct=yyws"><span class="{% ifequal category 'yyws' %}active2{% endifequal %}">医药卫生</span></a>
                        <a href="?ct=nlyy"><span class="{% ifequal category 'nlyy' %}active2{% endifequal %}">农林园艺</span></a>
					</div>
				</li>
			</ul>
		</div>
			<div class="left layout">
				<div class="head">
					<ul class="tab_header">
						<li {% if sort == '' %}class="active"{% endif %}><a href="?sort=">最新 </a></li>
						<li {% if sort == 'hot' %}class="active"{% endif %}><a href="?sort=hot">最热门</a></li>
						<li {% if sort == 'students' %}class="active"{% endif %}><a href="?sort=students">参与人数</a></li>
					</ul>
				</div>
                <div id="inWindow">
                    <div class="tab_cont " id="content">
					<div class="group_list">
                        {% for course in all_courses.object_list %}
                            <div class="box">
                                <a href="{% url 'course:course_detail' course.id %}">
                                    <img width="280" height="350" class="scrollLoading" src="{{ MEDIA_URL }}{{ course.image }}"/>
                                </a>
                                <div class="des">
                                    <a href="{% url 'course:course_detail' course.id %}">
                                        <h2>{{ course.name }}</h2>
                                    </a>
                                    <span class="fl">时长：<i class="key">{{ course.learn_times }}</i></span>
                                    <span class="fr">学习人数：{{ course.students }}&nbsp;&nbsp;</span>
                                </div>
                                <div class="bottom">
                                    <a href="{% url 'course:course_detail' course.id %}"><span class="fl">来自{{ course.course_org.name }}</span></a>
                                    <span class="star fr  notlogin
                                        " data-favid="15">
                                        {{ course.fav_nums }}
                                    </span>
                                </div>
                            </div>
                        {% endfor %}


					</div>
                    <div class="pageturn">
                        <ul class="pagelist">
                            {% if all_courses.has_previous %}
                                <li class="long"><a href="?{{ all_courses.previous_page_number.querystring }}">上一页</a></li>
                            {% endif %}

                            {% for page in all_courses.pages %}
                                {% if page %}
                                    {% ifequal page all_courses.number %}
                                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                    {% else %}
                                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                    {% endifequal %}
                                {% else %}
                                    <li class="none"><a href="">...</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if all_courses.has_next %}
                                <li class="long"><a href="?{{ all_courses.next_page_number.querystring }}">下一页</a></li>
                            {% endif %}

                        </ul>
                    </div>
				</div>
                </div>
			</div>
			<div class="right layout">
				<div class="head">热门课程推荐</div>
				<div class="group_recommend">
                    {% for hot_course in hot_courses %}
                    <dl>
						<dt>
							<a target="_blank" href="{% url 'course:course_detail' hot_course.id %}">
								<img width="240" height="220" class="scrollLoading" src="{{ MEDIA_URL }}{{ hot_course.image }}"/>
							</a>
						</dt>
						<dd>
							<a target="_blank" href="{% url 'course:course_detail' hot_course.id %}"><h2> {{ hot_course.name }}</h2></a>
							<span class="fl">难度：<i class="key">{{ hot_course.get_degree_display }}</i></span>
						</dd>
					</dl>
                    {% endfor %}


				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

